
Body {
  /* Dark Mode */
  background-color: #202d36; 

  /* Light Mode */
  /* background-color: #fafafa; */

  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;


  margin: 0;
}